body {
  background-color: rgb(221, 193, 11);
}

#board {
  width: 1200px;
  height: 600px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#leftPaddle {
  /* appearance */
  background-color: rgb(237, 23, 23);
  width: 20px;
  height: 80px;
  border-radius: 20px;

  /* positioning */
  position: absolute;
  top: 200px;
  left: 5px;
}

#rightPaddle {
  /* appearance */
  background-color: rgb(58, 21, 243);
  width: 20px;
  height: 80px;
  border-radius: 20px;

  /* positioning */
  position: absolute;
  top: 200px;
  right: 5px;
}

#ball {
  /* appearance */
  background-color: rgb(245, 27, 27);
  width: 20px;
  height: 20px;
  border-radius: 10px;

  /* positioning */
  position: absolute;
  top: 220px;
  left: 220px;
}

#score1 {
  position: absolute;
  color: rgb(197, 36, 4);
  font: 3em sans-serif;
  font-size: large;
  border: 0px;
}

#score2 {
  position: absolute;
  color: rgb(0, 38, 255);
  font: 3em sans-serif;
  font-size: large;
}

#winner1 {
  position: absolute;
  border-radius: 50px;
  height: 500px;
  width: 400px;
  font: 1em sans-serif;
  font-size: 300%;
  color: crimson;
}

#winner2 {
  position: absolute;
  border-radius: 50px;
  height: 500px;
  width: 400px;
  font: 1em sans-serif;
  font-size: 300%;
  color: dodgerblue;
}